body {
    margin: 0;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    display: grid;
    width: 100%;
}


nav{ 
    background-color: #3f3d56;   
    padding: 2% 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* float: right; */
    /* grid-row: 1; */
}
.header {
    min-height: 50vh;
    width: 100%;
    position: relative;
    display: inline-block;
}
.navBar{
    flex: 1;
    /* text-align: right; */

}
.navBar ul li{

    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: right;
    float: right;

}

.navBar ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.navBar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fdfdfd;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navBar ul li:hover::after{
    width: 100%;

}
.titles{
    margin-top: 4%;
    margin-left: 5%;
}

.sysname a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: left;
}
.display{
    height: 50vh;
    display:grid;
    justify-content: center;
    align-items: center;
    
}
table { 
    border-spacing: 20px 2px;
    border-collapse: collapse;
    box-shadow: 0 5px 10px lightgray;
    text-align: left;
    width: 800px;
    /* margin-left: 25%;
    margin-top: 10%; */
    margin-top: 5%;
    border-radius: 5px;
}
th{
    text-align:center;
    background-color: #3f3d56;
    color:rgb(253, 247, 247);
    /* border:1px solid #152D35; */
    padding: 9px;
    text-transform: uppercase;
    font-weight: 900;
}
thead{
    box-shadow: 0 5px 10px darkgray; 
}

td{
    padding: 20px;
    text-align:center;
}
tr:nth-child(even){
    background-color: rgb(245, 245, 245);
}
td a{
    text-decoration: none;

}

tr:hover{
    background-color: #3f3d5659;
    cursor: pointer;
    transition: 0.5s;
}

button{
    border-radius: 8px;
    padding: 6px;
    border: none;
    min-width: 100px;
    margin-right: 10%;
    font-weight: bold;
    font-size: 14px;
}
button:hover{
    cursor: pointer;
    background-color: #3f3d5659;
}
#officerRandomizer{
    width: 25%;
}

.buttonContainers{
    display: flex;
}

.buttonContainers label{
    margin-right: 3%;
    font-weight: bold;
    font-size: larger;
}
footer{
    text-align: center;
    margin-top: 250px;
    background-color: #3f3d56;
    padding-bottom: 74px;
}
footer p{
    padding-top:20px ;
    font-size: 14px;
    
    color: #fdfdfd;
}