body {
    margin: 5%;
    width: 100%;
    font-size: 16px;
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
}

nav{    
    background-color: #5A67D8;
    padding: 2% 6%;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    align-items: center;
    margin-top: -5%;
    left: 5%;
    /* float: right; */
    /* grid-row: 1; */
}
.header {
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: inline-block;
}
.navBar{
    font-size: 24px;
    margin-right: 18%;
    flex: 1;
    position: relative;
    right: 10.5%;
    /* text-align: right; */
}
nav a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.navBar p{
    font-size: 16px;
}

.navBar ul li{
    
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-align: right;
    float: right;
}

.navBar ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 13px;
}

.navBar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navBar ul li:hover::after{
    width: 100%;
}
nav h1::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav h1 a:hover::after{
    width: 100%;
}
.container{
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr ;   
    grid-template-rows: 50px;
    grid-column-gap:20px;
}
.form2{
     background: aquamarine ; 
}
.form1{
     background: rebeccapurple; 
} 

.form2 input, .form1 select{
    margin-top:10px;
    padding: 8px;
    width: 50%;
    border-radius: 5px;

}

.form2 textarea{
    margin-top:10px;
    padding: 8px;
    width: 50%;
    border-radius: 5px;
}

.form1 select{
    padding: 8px;
    width: 70%;
    border-radius: 5px;
}

button{
    background-color: rgb(13, 28, 39);
    color: #fff;
    padding: 10px ;
    border-radius: 8px;
    border: none;
}

button:hover{
    background-color: #5A67D8; 
    cursor: pointer;
}