<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="create.css">
    <title>Schedule Training</title>
  </head>
  <body>


    <div class="container">


      <div class="column">
      <h1>Schedule Training</h1>
        <form>

            <label for="fname"> First Name:</label><br>
            <input id="input1" type="text" name="fname" required/> <br>

            <label for="lname"> Last Name:</label><br>
            <input id="input2" type="text" name="lname" required/> <br>
 
            <label for="Service_lenght"> ID:</label><br>
            <input id="input3" type="number" name="id" required/><br>

            <label for="avsec_dates"> Date:</label><br>
            <input id="input4" type="date" name="avsec_dates" required/><br>
            
             <label for="fname"> Reason:</label><br>
            <input id="input5" type="text" name="reason" required/> <br>

            <label for="lname"> Message:</label><br>
            <input id="input6" type="text" name="message" required/> <br><br>



          <button id='btn' type="submit" name="save">Send Notification</button><br><br>
          <button id='btn' type="submit" name="save">Save Notification</button>
        </form>

      </div>

    </div>
  </body>
</html>
